:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: var(--primary-text);  
	background-color: var(--bg-soft);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--body-padding: 4rem;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
	padding: var(--body-padding);
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	text-align: left;
}

img {
	margin-bottom: 1.5rem;
}

section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
	width: 100%;
	box-sizing: border-box;
}
section.two-column {
	margin: 0;
	display: grid;
  grid-template-columns: repeat(2, minmax(40%, 1fr));
  gap: 4rem;
}
section.one-column {
	grid-template-columns: auto;
	margin: 0;
}

a, a:visited {
	text-decoration: none;
	/* color: white; */
}

.title a h1, .title a:visited h1 {
	color: var(--primary-text);
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.listItemInfo > h3 {
	font-size: 2.2rem;
	margin: 0;
}

.listItemInfo h4 {
	font-size: 1.4rem;
	margin: 0;
}

table.input-table td, th {
	padding: 0rem 1rem;
	border: 1px solid var(--border-soft);
	background-color: var(--bg-soft);
	font-weight: normal;
}

input, textarea, select {
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  padding: 0;
  margin: 1rem 0;
  border-bottom: 1px solid var(--primary-text); /* Black underline */
  color: var(--primary-text); /* Text color */
}

@media (max-width: 839px) {
	body {
		--solo-col-width: 220px;
		--body-padding: .2vw;
	}

	#app {
		margin: 2rem;
	}
	section {
		margin-top: 5rem;
	  grid-template-columns: 1fr;
		row-gap: 1rem;
	}
	section.two-column {
		display: flex;
		flex-wrap: wrap;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}
